<div class="container page-container" >

  <% if ( typeof status != "undefined" ) { %>
    <div class="alert alert-<%= type%> <%= status%>" role="alert">
      <span class="" ><%= message%></span>
    </div>            
  <% } %>

  <div class="main-row">
    <h1>AES Encryption Test</h1>

    <form action="/" method="POST">
      <input type="hidden" name="processType" value="encryption">
      <div class="row list-row">
        <div class="col col-12">
          <div class="card card-cpryt3">
            <div class="card-header">
              <h4>Plaintext</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                
                <div class="form-group">
                  <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                <textarea class="form-control-textarea" name="test_plain_text" placeholder="Enter plaintext." id="exampleFormControlTextarea1" rows="4"><% if( typeof enc_plain_text != 'undefined'){ %><%= enc_plain_text %><% } %></textarea>
                </div>
                
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row list-row">
        <div class="col col-12">
          <div class="card card-cpryt3">
            <div class="card-header">
              <h4>Key</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                
                <div class="form-group">
                  <textarea class="form-control-textarea" name="test_key" placeholder="Enter key." id="exampleFormControlTextarea1" rows="2"><% if( typeof enc_key != 'undefined'){ %><%= enc_key %><% } %></textarea>
                </div>
                
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      
      <button type="submit" class="my-btn btn-success">Encrypt</button>


      
      <% if ( typeof enc_cipher_text != "undefined" ) { %>
      <div id="result_cipher" class="row">
        <div class="col col-12">
          <div class="card card-cpryt3">
            <div class="card-header">
              <h4>Ciphertext</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">

                <p><%= enc_cipher_text%></p>

              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      
    </form>
  </div>

  <div class="main-row">
    <h1>AES Decryption Test</h1>
  
    <form action="/" method="POST">
      <input type="hidden" name="processType" value="decryption">
      <div class="row list-row">
        <div class="col col-12">
          <div class="card card-cpryt3">
            <div class="card-header">
              <h4>Ciphertext</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                
                <div class="form-group">
                  <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                  <textarea class="form-control-textarea" name="test_cipher_text" placeholder="Enter ciphertext." id="exampleFormControlTextarea1" rows="4"><% if( typeof dec_cipher_text != 'undefined'){ %><%= dec_cipher_text %><% } %></textarea>
                </div>
                
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      
      

      <div class="row list-row">
        <div class="col col-12">
          <div class="card card-cpryt3">
            <div class="card-header">
              <h4>Key</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                
                <div class="form-group">
                  <textarea class="form-control-textarea" name="test_key" placeholder="Enter Key." id="exampleFormControlTextarea1" rows="2"><% if( typeof dec_key != 'undefined'){ %><%= dec_key %><% } %></textarea>
                </div>
                
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      
      <button type="submit" class="my-btn btn-success">Decrypt</button>


      
      
      <% if ( typeof dec_plain_text != "undefined" ) { %>
      <div id="result_plain" class="row">
        <div class="col col-12">
          <div class="card card-cpryt3">
            <div class="card-header">
              <h4>Plaintext</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">

                <p><%= dec_plain_text%></p>

              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      
    </form>
  </div>

  <div class="main-row">
    <h1>AES Encryption Examples</h1>

    <div class="row list-row">
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Plaintext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>erhanersoz</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Key</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>secretkey</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Ciphertext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>U2FsdGVkX1+JiQ8JM13NkRjGCl7OhQrCZS/wP7ZA/X4=</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row list-row">
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Plaintext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>aaaaaaaaaa</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Key</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">              
              <p>secretkey</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Ciphertext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>U2FsdGVkX19cOs7sCBG/2sfHwYChG9Htvl6goplrbfI=</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="row list-row">
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Plaintext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>aaaabaaaaa</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Key</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>secretkey</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-1x">
          <div class="card-header">
            <h4>Ciphertext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>U2FsdGVkX1+GFyvY2z2j3PEPP/6/gO4TQGo3Hmgrl8w=</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="row list-row">
      <div class="col col-4">
        <div class="card card-height-2x">
          <div class="card-header">
            <h4>Plaintext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Ne yazik ki, kimseye Matrix’in ne olduğu anlatılamaz. Kendin görmelisin. Bu, son firsatın. Buradan sonra dönüş yok. Mavi hapı alırsan hikaye biter. Yatağında uyanır ve istediğin şeye inanırsın. Kırmızı hapı alırsan Mucize Ülkesi’nde kalırsın ve sana tavşan deliğinin ne kadar derin olduğunu gösteririm. Unutma… Sana gerçeği öneriyorum. O kadar.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-2x">
          <div class="card-header">
            <h4>Key</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>secretkey</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-2x">
          <div class="card-header">
            <h4>Ciphertext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>U2FsdGVkX18sDr5FWppvnC0nHSlcg2PvoFSKd/629eg0RxV3sltKHaI4ScBtFyp7xlqc8Xy2ZBxkoNKsoXiH/EsHP7xjlH4Ri9UGNUWgXI84XX8+eqxd30gt/XMmrtIJK3SYRilhz/fMwmS/HNielH6ctSQV6et+yS7OuYZLXqO+1VpUEJ/9eXDbFnK1g6wo2HhCH4p72R6iBY3yA2KbVoNqWUVab9SL1Gx3zCYaVzvpaSStahOlpjXjL0tF0r3UgRMPGB+49DsaM3xBgTyFoDQtXDqUUCWTa0jjqpAlb8YKLYpYSxO/A00dI2YIzGJaOwtGZKIl5OB3R+3KsGPCAweyUgO/XyEIDTY0XxMG7CWeL/+OnjWK8SR7an/4g48lBLGVVhCg3aAYVRHUH/bhoB02Fw5gXbg4f4cIa2mqwgiya5PDV3378Z2Vdawm6iyYD+g5D5EjEsacxy1cSqmx5ofb9oAYetN/GLD01pscM3qCfvC1biQHir6hF0NppZ2F3esGbE5HZlATRi1k/YNtGA==</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="row list-row">
      <div class="col col-4">
        <div class="card card-height-2x">
          <div class="card-header">
            <h4>Plaintext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Ne yazik ki, kimseye Matrix’in ne olduğu anlatılamaz. Kendin görmelisin. Bu, son firsatın. Buradan sonra dönüş yok. Mavi hapı alırsan hikaye biter. Yatağında uyanır ve istediğin şeye inanırsın. Kırmızı hapı alırsan Mucize Ülkesi’nde kalırsın ve sana tavşan deliğinin ne kadar derin olduğunu gösteririm. Unutma… Sana gerçeği öneriyorum. O kadar.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-2x">
          <div class="card-header">
            <h4>Key</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>1010111001001010111001010111010111010101110101010101111111000000101100010011</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card card-height-2x">
          <div class="card-header">
            <h4>Ciphertext</h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>U2FsdGVkX18ND3lGAWs/OgvOE6+FKN6GnItRm3j7QvWniQtiIuXqbIc8xbAxD0iTZpR/qn3P59BqPii3GSwAfDdQw7mkDan8BIQXy4FLgkNa0rJ8nl9f4wD0pduUtRJI1or/fH/riPS4P3IK3rEs6roHESI+zAGvu6buCXh6iHssfUz6+3zHGqalYpfXPsW72Y9elJ9tDrqDI7XlM5F2R99r9ZfbtazuYzBwTI24yr5f1WpTxvFKqNk6EW3J8DbFJ68dl5UYXvL1EC208A6UBJmjImsVJ3neN+Xq3/oUr4I5Cc1w8pr0MSoxpFWul9IusQTJWXf6JF0MK+K7WIORyAp8w2kLuji+mloNdtBYJktVlnW3uy12nZXKrkOiIWxdBg+RqwwM6glFt3pVR9fi2u4KOj6baB+5AgYzK/4lWZdIOU9n0EwMmE+WCZIW1JLmSoDZ2Wwpn1ZyLNnRuSHbAxPNJGMg+baG4tcXFM8+Y3mCstyxTuhSIkLRVgEZiOmHsdkD3r1SlMf3R+VxMznr+A==</p>              
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-row">
    <h1>Get Started</h1>
  
    <div class="card list-row">
      <div class="card-header">
        <h4 class="card-title">AES chats</h4>
      </div>
      <div class="card-body">
        <p class="card-text">This page lists AES chats.</p>
        <p class="card-text">If you have the chat key, you can see the plaintext of the chat messages. If you have not chat key, you will see the ciphertext.</p>
        <p class="blockquote-footer">Login required</p>
        <a href="/aes-chats">Go to AES chats</a>
      </div>
    </div>
  
    <div class="card list-row">
      <div class="card-header">
        <h4 class="card-title">AES messaging</h4>
      </div>
      <div class="card-body">
        <p class="card-text">This page lists all users in the database.</p>
        <p class="card-text">You can read the plaintext of previous messages.</p>
        <p class="card-text">You can send a message to users.</p>
        <p class="card-text">When the message is sent, the message will be encrypted with AES.</p>
        <p class="blockquote-footer">Login required</p>
        <a href="/aes-chating" >Go to AES messaging</a>
      </div>
    </div>
  
    <div class="card list-row">
      <div class="card-header">
        <h4 class="card-title">Send spam</h4>
      </div>
      <div class="card-body">
        <p class="card-text">This page lists all users in the database.</p>
        <p class="card-text">You can send spam to users.</p>
        <p class="card-text">You can read the plaintext of previous messages.</p>
        <p class="card-text">If the message has been modified from the database, you will see 'This message has been modified'.</p>
        <p class="blockquote-footer">Login required</p>
        <a href="/send-spam" >Go to Send spam</a>
      </div>
    </div>
  
    <div class="card list-row">
      <div class="card-header">
        <h4 class="card-title">Spam analysis</h4>
      </div>
      <div class="card-body">
        <p class="card-text">The number of repetitions of words in each spam generated is shown.</p>
        <p class="card-text">The graph shows how many times each word generated in total.</p>
        <p class="card-text">The details of The most similar two spams are shown.</p>
        <a href="/spam-analysis">Go to Spam analysis</a>
      </div>
    </div>

    <div class="card list-row">
      <div class="card-header">
        <h4 class="card-title">RSA messaging</h4>
      </div>
      <div class="card-body">
        <p class="card-text">This page lists all users in the database.</p>
        <p class="card-text">You can read the plaintext of previous messages.</p>
        <p class="card-text">You can send a message to users.</p>
        <p class="blockquote-footer">Login required</p>
        <a href="/rsa-chating">Go to RSA messaging</a>
      </div>
    </div>

    <div class="card list-row">
      <div class="card-header">
        <h4 class="card-title">Crypted image</h4>
      </div>
      <div class="card-body">
        <p class="card-text">This page is a group chat.</p>
        <p class="card-text">While sending the images, Firstly, watermark added to the image. Secondly, the entered message encrypted with AES. Finally, the message added to image which is added watermark.</p>
        <p class="card-text">While viewing the images, If you have the key, you can see the plaintext of the embedded message in the picture. If you have not the key, you will see the ciphertext.
</p>
        <p class="blockquote-footer">Login required</p>
        <a href="/send-image">Go to Crypted image</a>
      </div>
    </div>
  </div>


</div>

<% if ( typeof scroll_down != "undefined" ) { %>
 
  <script>
    function Scrolldown() {
      document.getElementById('<%= scroll_down %>').scrollIntoView({
      behavior: 'smooth'
      });
    }
    window.onload = Scrolldown;
  </script>

<% } %> 